<div class="shifted-content">
  <div class="section-header">
    <h1>Our Publications <small>Browse through list of 100 recents publications</small></h1>
  </div>
  <div class="section container-fluid">
    <ul id="authors-list" class="full-size-list list-unstyled">
      <li class="row" ng-repeat="author in publications track by $index" ng-click="goToAuthor(author.id)">
        <div class="element-bg">
          <span class="index">
            {{ $index + 1}}
          </span>
        </div>
        <div class="element-content">
          <div class="author-detail col-xs-6">
              <h3>
                {{ author.name }}
              </h3>
              <h5 class="since-when">
                <small>Since:</small> {{ author.since }}
              </h5>
              <h5 class="last-publication">
                <small>Last Publications</small>
                To publish is to make content...
              </h5>
          </div>
          <div class="author-statistics col-xs-6">
           
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
        