{% extends 'layout.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1>Hello, {{name}} {{second}} !</h1>
  <p>You just bought fucking swag login system for {{ url }} </p>
  <p>You soon will recieve more details at {{ email}} </p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

{% endblock %}

