{% extends 'layout.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-6">
		  <div class="jumbotron">
			  <h1>Create New Account</h1>
			  <p>...</p>
			  <p><a class="btn btn-primary btn-lg" href="/create" role="button">Do it now</a></p>
		</div>
	</div>

	<div class="col-md-6">
			<div class="jumbotron">
			<h1>Login to existing account</h1>
			<p>...</p>
			<p><a class="btn btn-primary btn-lg" role="button">Do it now</a></p>
			</div>
	</div>
</div>


</div>
{% endblock %}

